* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  font-family: 'Outfit', sans-serif;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.portfolio-title {
  margin: 0;
  padding: 0;
  position: relative;
  top: -5px;
  left: 0px;
  font-size: 2.5em;
}

.water-text {
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 2px #8f8f8f;
}

.water-fill {
  color: #ffffff;
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0%, 100% {
    clip-path: polygon(0 70%, 14% 60%, 28% 56%, 44% 59%, 57% 66%, 71% 73%, 85% 61%, 100% 45%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 28%, 14% 60%, 26% 72%, 44% 57%, 59% 48%, 71% 40%, 88% 49%, 100% 66%, 100% 100%, 0% 100%);
  }
}

.header-bg {
  background-color: rgba(0, 0, 0, 1);
  transition: 0.5s;
}

.header a {
  font-size: 1.5em;
  color: white;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu li {
  margin: 0 1em;
}

.nav-menu li a {
  font-size: 2em;
  font-weight: 500;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: .2em;
  text-decoration: none;
}
.nav-menu li button{
  font-size: 1em;
  font-weight: 500;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2em;
}
.hamburger {
  display: none;
  transition: transform 0.3s ease-in-out;
}

.spin {
  transform: rotate(360deg);
}

@media screen and (max-width: 1040px) {
  .header{
    max-width: 100%;
  }
  .nav-menu {
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    transition: 0.5s;
  }

  .nav-menu.active {
    left: 0;
    background-color: black;
  }

  .nav-menu li{
    padding: 1em;
  }

  .nav-menu li a {
    font-size: 3em;
  }
  .nav-menu li button{
    font-size: .8em;
    padding: .8em 1.5em;
  }
  .hamburger {
    display: block;
    position: relative;
    z-index: 1000;
  }
  .portfolio-title{
    font-size: 1.5em;
  }
}
.nav-menu li button {
  position: relative;
  overflow: hidden;
  transition: color 0.4s;
  border: 3px solid rgb(255, 255, 255);
  font-weight: 700;
}

.nav-menu li button:hover {
  color: rgb(0, 0, 0);
  z-index: 100;
}

.nav-menu li button::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgb(255, 255, 255);
  transition: top 0.3s ease-in-out;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -100;
}

.nav-menu li button:hover::before {
  top: -50%;
}

.nav-menu li:not(:last-child) a {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.nav-menu li:not(:last-child) a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(41, 41, 41);
  transition: all 0.3s;
}
.nav-menu li:not(:last-child) a:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.nav-menu li:not(:last-child) a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.nav-menu li:not(:last-child) a:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
