@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.project-container{
  display: flex;
  flex-direction: column;
}
.project-container-top{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto;
}
.project-img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  opacity: .25;
}
.project-heading{
  position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 10em;
    font-weight: 700;
    color: beige;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
}

.project-container-bottom{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 2em;
}
.project-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  width: auto;
  max-width: 400px ;
  height: 400px;
  background-color: white;
  background-color: aliceblue;
  box-shadow: 2px 2px 15px 1px rgb(100, 100, 100);
  transition: transform .4s ease-in;
}
.project-box:hover{
  transform:scale(1.02);
}

.project-box-top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.project-box-img{
  padding: 0;
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  height: auto;
  object-fit: cover;
  object-position: left;
  transition: transform .5s ease-in-out;
}
.project-box-img:hover{
  transform: scale(1.5);
}
.project-box-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-box-title{
  font-weight: 900;
  margin: 5px;
  font-size: 2.5em;
  text-align: center;
  margin: 10px 10px 0 10px; 
  overflow: hidden;
  line-height: 1.3;
  display: flex;
  align-items: center;
  color: black;
}
.project-box-description{
  font-size: 1.7em;
  margin: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  max-width: 350px;
  color: black;
  text-align: center;
}
.project-link{
  text-decoration: none;
}
.project-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
  margin-bottom: 10px;
  transition: transform all 1s ease-in-out;
}

.project-button.demo {
  margin-right: 10px;
}

.project-button.code {
  background-color: #28a745;
  margin-left: 10px;
}

.project-button:hover {
  background-color: #0056b3;
}

.project-button.code:hover {
  background-color: #008b21;
}

@keyframes rotateThreeTimes {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}

.project-button:hover {
  scale: 1.2;
  animation: rotateThreeTimes 2s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
}

@media screen and (min-width: 1025px) {
  .project-container-bottom{
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
  .project-box{
    margin: auto;
    width: 500px;
    max-width: 500px ;
    height: 600px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .project-box:hover{
    max-width: 500px ;
    background-color: rgb(233, 233, 233);
  }
  .project-box-img{
    max-height: 300px;
  }
  .project-box-title{
    font-size: 3em;
  }
  .project-box-description{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1024px) {
  .project-heading{
    font-size: 3em;
  }
  .project-box-title{
    font-size: 2.2em;
  }
  .project-box-description{
    font-size: 1.3em;
  }
  .project-button{
    padding: 5px 10px;
  }
}
@media screen and (max-width: 425px) {
  .project-heading{
    font-size: 3em;
  }
  .project-box-title{
    font-size: 2em;
  }
  .project-box-description{
    font-size: 1em;
    font-weight: 500;
  }
}


